.card {
  // font-family: 'SF Pro Display', sans-serif;
  font-family: 'Geist', sans-serif;
  background-color: var(--p-surface-base);
  border: 1px solid var(--p-surface-secondary);
  border-radius: 0.75rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .25rem;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: translateY(-.2rem);
    box-shadow: var(--p-shadow-md);

    .card-actions {
      opacity : 1 !important;
    }

    .icon-play{
      width: 1.25rem !important;
      margin-right: .5rem;
      opacity: 1 !important;
    }
  }

  &:active {
    transform: translateY(0);
    box-shadow: var(--p-shadow-sm);
  }

  .card-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0;

    .card-title-container {
      display: flex;
      flex-direction: row;
      max-width: 90%;
      align-items: center;
      flex-grow: 1;

      .icon-play{
        cursor: pointer;
        margin-left: -.2rem;
        transition: all 0.3s ease-in-out;
        width: 0;
        opacity: 0;
        flex-shrink: 0;
        &:hover {
          color: var(--p-text-accent);
          // color: var(--p-primary);
          transform: scale(1.1);
        }
      }

      .card-title {
        margin: 0;
        margin-left: .2rem;
        color: var(--p-text-base);
        font-weight: 500;
        font-size: 1.125rem;
        min-width: 0;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex-shrink: 1;
        font-weight: 600;
      }

      i {
        color: var(--p-text-base);
        font-size: 1.25rem;
      }
    }
  }

  .card-content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    flex-grow: 1;    .card-description {
      margin: 0;
      color: var(--p-text-color-secondary);
      font-size: 0.875rem;
      line-height: 1.5;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      height: calc(2 * 1.5em);
      padding-right: .5rem;
    }

    .question-type {
      align-self: flex-start;
      padding: 0.25rem 0.5rem;
      border-radius: .35rem;
      font-size: .75rem;
      background-color: var(--p-surface-fluffy);
      color: var(--p-text-secondary);
      font-weight: 500;
    }
  }

  .card-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-top: 1px solid var(--p-surface-border);
    margin-top: auto;
    padding-top: 0.5rem;
    gap: 0.5rem;
    background-color: transparent;

    .author-info {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      flex: 1 1 0;
      min-width: 0;

      .author-avatar {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 1px solid var(--p-text-secondary);
        flex-shrink: 0;
        object-fit: cover;
      }

      .author-name {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 0.875rem;
        color: var(--p-text-secondary);
      }

      .icon-public {
        i {
          color: var(--p-text-secondary);
          font-size: .8rem;
        }

        span {
          color: var(--p-text-secondary);
          font-size: .8rem;
        }
      }
    }

    .card-actions {
      margin-left: auto;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      gap: 0.25rem;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }
  }
}

@media (max-width: 480px) {
  .card {
    .card-content {
      .question-type {
        display: none;
      }
    }

    .card-footer {
      .card-actions {
        opacity: 1;
      }

      .author-info {
        .author-name {
          max-width: 6rem;
        }
      }
    }
  }
}
