<div class="card">
  <div class="card-header">
    <div class="card-title-container">
      <i class="ti ti-player-play icon-play" pTooltip="Resolver questão" tooltipPosition="top" (click)="resolveQuestion(item().id || '')"></i>
      <h3 class="card-title">{{ item().title }}</h3>
    </div>
    <button-like
      [(liked)]="liked"
      (onLike)="likeQuestion(item().id ?? '')"
    />
  </div>

  <div class="card-content">
    <p class="card-description">{{ item().statement }}</p>
    <span class="question-type">{{ item().type?.name }}</span>

  </div>

  <div class="card-footer">
    <div class="author-info">
      <img [src]="item().author?.profile_picture" [alt]="item().author?.name" class="author-avatar" />
      <span class="author-name">{{ item().author?.name }} |</span>
      <div  class="icon-public">
        @if(item().is_public){
          <i class="ti ti-world" pTooltip="Pública" tooltipPosition="top"></i>
          <!-- <span>Pública</span> -->
        }
        @else {
          <i class="ti ti-lock" pTooltip="Privada" tooltipPosition="top"></i>
          <!-- <span>Privada</span> -->
        }
      </div>
    </div>
    <!-- <span class="created-date">{{ item().created_at | date }}</span> -->
    @if(canEdit() || canDelete() || canShare()) {
      <div class="card-actions">
        <kh-button
          size="small"
          type="danger-light"
          [onlyIcon]="true"
          [pTooltip]="'Excluir questão'"
          tooltipPosition="top"
          class="delete-btn"
          [disabled]="!canDelete()"
          (click)="deleteQuestion(item().id||null)">
          <i class="ti ti-trash"></i>
        </kh-button>

        <kh-button
          size="small"
          type="tertiary"
          [onlyIcon]="true"
          [pTooltip]="'Estatísticas'"
          tooltipPosition="top"
          [disabled]="!canShare()"
          (click)="showStatistics(item().id || null)"
        >
          <i class="ti ti-chart-bar"></i>
        </kh-button>

        <kh-button
          size="small"
          type="tertiary"
          [onlyIcon]="true"
          [pTooltip]="'Compartilhar questão'"
          tooltipPosition="top"
          [disabled]="!canShare()"
          (click)="shareQuestion(item().id || null)"
        >
          <i class="ti ti-share"></i>
        </kh-button>

        <kh-button
          size="small"
          type="tertiary"
          [onlyIcon]="true"
          [pTooltip]="'Editar questão'"
          tooltipPosition="top"
          [disabled]="!canEdit()"
          (click)="editQuestion(item().id || null)"
        >
          <i class="ti ti-edit"></i>
        </kh-button>
      </div>
    }
  </div>
</div>
