<div class="page-container">
    <div class="column">
        <h3>Botões</h3>
        <kh-button type="primary" size="medium" >Botão Primário</kh-button>
        <kh-button type="secondary" size="medium" >Botão Secundário</kh-button>
        <kh-button type="tertiary" size="medium" >Botão Terciário</kh-button>
        <kh-button type="accent" size="medium" >Botão Accent</kh-button>
        <kh-button type="danger" size="medium" >Botão Danger</kh-button>
    </div>
    <div class="column">
        <h3>Cores Zinc</h3>
        <div class="item">
            <label>zinc-50</label>
            <div class="rect" [style.background-color]="'var(--p-primary-50)'"></div>
        </div>
        <div class="item">
            <label>zinc-100</label>
            <div class="rect" [style.background-color]="'var(--p-primary-100)'"></div>
        </div>
        <div class="item">
            <label>zinc-200</label>
            <div class="rect" [style.background-color]="'var(--p-primary-200)'"></div>
        </div>
        <div class="item">
            <label>zinc-300</label>
            <div class="rect" [style.background-color]="'var(--p-primary-300)'"></div>
        </div>
        <div class="item">
            <label>zinc-400</label>
            <div class="rect" [style.background-color]="'var(--p-primary-400)'"></div>
        </div>
        <div class="item">
            <label>zinc-500</label>
            <div class="rect" [style.background-color]="'var(--p-primary-500)'"></div>
        </div>
        <div class="item">
            <label>zinc-600</label>
            <div class="rect" [style.background-color]="'var(--p-primary-600)'"></div>
        </div>
        <div class="item">
            <label>zinc-700</label>
            <div class="rect" [style.background-color]="'var(--p-primary-700)'"></div>
        </div>
        <div class="item">
            <label>zinc-800</label>
            <div class="rect" [style.background-color]="'var(--p-primary-800)'"></div>
        </div>
        <div class="item">
            <label>zinc-900</label>
            <div class="rect" [style.background-color]="'var(--p-primary-900)'"></div>
        </div>
        <div class="item">
            <label>zinc-950</label>
            <div class="rect" [style.background-color]="'var(--p-primary-950)'"></div>
        </div>    
    </div>

    <div class="column">
        <h3>Cores Accent</h3>
        <div class="item">
            <label>accent-50</label>
            <div class="rect" [style.background-color]="'var(--p-accent-50)'"></div>
        </div>
        <div class="item">
            <label>accent-100</label>
            <div class="rect" [style.background-color]="'var(--p-accent-100)'"></div>
        </div>
        <div class="item">
            <label>accent-200</label>
            <div class="rect" [style.background-color]="'var(--p-accent-200)'"></div>
        </div>
        <div class="item">
            <label>accent-300</label>
            <div class="rect" [style.background-color]="'var(--p-accent-300)'"></div>
        </div>
        <div class="item">
            <label>accent-400</label>
            <div class="rect" [style.background-color]="'var(--p-accent-400)'"></div>
        </div>
        <div class="item">
            <label>accent-500</label>
            <div class="rect" [style.background-color]="'var(--p-accent-500)'"></div>
        </div>
        <div class="item">
            <label>accent-600</label>
            <div class="rect" [style.background-color]="'var(--p-accent-600)'"></div>
        </div>
        <div class="item">
            <label>accent-700</label>
            <div class="rect" [style.background-color]="'var(--p-accent-700)'"></div>
        </div>
        <div class="item">
            <label>accent-800</label>
            <div class="rect" [style.background-color]="'var(--p-accent-800)'"></div>
        </div>
        <div class="item">
            <label>accent-900</label>
            <div class="rect" [style.background-color]="'var(--p-accent-900)'"></div>
        </div>
        <div class="item">
            <label>accent-950</label>
            <div class="rect" [style.background-color]="'var(--p-accent-950)'"></div>
        </div>
    </div>
    <div class="column">
        <h3>Cores Surface</h3>
        <div class="item">
            <label>surface-base</label>
            <div class="rect" [style.background-color]="'var(--p-surface-base)'"></div>
        </div>
        <div class="item">
            <label>surface-card</label>
            <div class="rect" [style.background-color]="'var(--p-surface-card)'"></div>
        </div>
        <div class="item">
            <label>surface-secondary</label>
            <div class="rect" [style.background-color]="'var(--p-surface-secondary)'"></div>
        </div>
        <div class="item">
            <label>surface-inverse</label>
            <div class="rect" [style.background-color]="'var(--p-surface-inverse)'"></div>
        </div>
    </div>
    <div class="column">
        <h3>Cores Text</h3>
        <div class="rect" [style.color]="'var(--p-text-base)'">
            <label>Text base</label>
        </div>
        <div class="rect" [style.color]="'var(--p-text-secondary)'">
            <label>Text secondary</label>
        </div>
        <div class="rect" [style.color]="'var(--p-text-inverse)'" [style.background-color]="'var(--p-surface-inverse)'">
            <label>Text inverse</label>
        </div>
        <div class="rect" [style.color]="'var(--p-text-accent)'">
            <label>Text accent</label>
        </div>
    </div>
    <div class="column">
        <h3>Cores Feedback</h3>
        <div class="rect" [style.color]="'var(--p-feedback-error-main)'" [style.background-color]="'var(--p-feedback-error-surface)'">
            <label>Feedback error</label>
        </div>
        <div class="rect" [style.color]="'var(--p-feedback-warning-main)'" [style.background-color]="'var(--p-feedback-warning-surface)'">
            <label>Feedback warning</label>
        </div>
        <div class="rect" [style.color]="'var(--p-feedback-success-main)'" [style.background-color]="'var(--p-feedback-success-surface)'">
            <label>Feedback success</label>
        </div>
        <div class="rect" [style.color]="'var(--p-feedback-info-main)'" [style.background-color]="'var(--p-feedback-info-surface)'">
            <label>Feedback info</label>
        </div>
    </div>
    <div class="column">
        <h3>Shadows</h3>
        <div class="rect" [style.box-shadow]="'var(--p-shadow-sm)'">
            <label>Shadow sm</label>
        </div>
        <div class="rect" [style.box-shadow]="'var(--p-shadow-md)'">
            <label>Shadow md</label>
        </div>
        <div class="rect" [style.box-shadow]="'var(--p-shadow-lg)'">
            <label>Shadow lg</label>
        </div>
    </div>
</div>