<div class="collection-form-container" [formGroup]="collectionForm">
  <div class="form-group">
    <p-floatlabel variant="on" class="w-full">
      <input pInputText id="title_input" formControlName="title" class="form-input" autocomplete="off" />
      <label for="title_input">Título</label>
    </p-floatlabel>

    <p-floatlabel variant="on" class="w-full">
      <textarea pTextarea id="description_input" formControlName="description" class="form-input" rows="4"
        autocomplete="off" style="resize: vertical;"></textarea>
      <label for="description_input">Descrição</label>
    </p-floatlabel>
  </div>

  <!-- lista de questóes a serem adicionadas na coleção -->
  <question-select-list
    [(selectedQuestions)]="selectedQuestions"
  />

  <div class="tag-form">
    <p-floatlabel variant="on" class="w-full">
      <input pInputText id="tags_input" formControlName="tags" class="form-input" autocomplete="off" />
      <label for="tags_input">Tags</label>
    </p-floatlabel>
    <small class="tag-helper">Separe as tags por vírgula</small>
  </div>

  <div class="visibility-config">
    <h3 class="visibility-title">Configurações de Visibilidade</h3>

    <div class="visibility-options">
      <div class="visibility-option">
        <p-radiobutton inputId="public" size="small" [value]="true" formControlName="is_public" />
        <label for="public" class="visibility-label">
          <i class="ti ti-world"></i>
          <div class="visibility-text">
            <span class="visibility-main">Público - Visível para todos os usuários</span>
          </div>
        </label>
      </div>

      <div class="visibility-option">
        <p-radiobutton inputId="private" size="small" [value]="false" formControlName="is_public" />
        <label for="private" class="visibility-label">
          <i class="ti ti-lock"></i>
          <div class="visibility-text">
            <span class="visibility-main">Privado - Visível apenas para você e para quem compartilhar</span>
          </div>
        </label>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <kh-button type="secondary" (click)="handleCancel()" widthType="full">Cancelar</kh-button>
    <kh-button [loading]="isSaving()" [disabled]="isSaving()" (click)="handleSave()" widthType="full">
      {{ isEditMode() ? 'Atualizar' : 'Salvar' }}
    </kh-button>
  </div>
</div>
