.collection-form-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: .5rem;
  min-width: 300px;

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .form-input {
    width: 100%;
  }

  .visibility-config {
    width: 100%;
    margin: 1rem 0;

    .visibility-title {
      font-size: 0.9rem;
      font-weight: 550;
      margin-bottom: 0.75rem;
      color: var(--p-text-primary);
    }

    .visibility-options {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      .visibility-option {
        display: flex;
        align-items: flex-start;
        gap: 0.75rem;

        .visibility-label {
          display: flex;
          align-items: flex-start;
          gap: 0.75rem;
          cursor: pointer;
          user-select: none;
          flex: 1;

          i {
            font-size: 1.25rem;
            color: var(--p-text-secondary);
            margin-top: 0.1rem;
          }

          .visibility-text {
            display: flex;
            flex-direction: column;

            .visibility-main {
              font-size: 0.875rem;
              color: var(--p-text-primary);
              line-height: 1.4;
            }
          }
        }

        .visibility-label:hover {
          i {
            color: var(--p-primary-color);
          }
        }
      }
    }
  }

  .tag-form{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    .tag-helper{
      font-size: 0.8rem;
      color: var(--p-text-secondary);
    }
  }

  .form-actions {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;

    // Mobile
    @media (max-width: 480px) {
      flex-direction: column;
      gap: 0.75rem;
    }
  }
}

::ng-deep.p-checkbox-checked .p-checkbox-box{
  border-color: var(--p-surface-inverse) !important ;
  background-color: var(--p-surface-inverse) !important ;
}
