  <div class="timer-container">
    <!-- <i class="ti ti-inner-shadow-top-left timer-icon"></i> -->
     <div class="pendulum-container">
       <div class="pendulum">
         <div class="pendulum_box">
             <div class="ball first"></div>
             <div class="ball"></div>
             <div class="ball"></div>
             <div class="ball"></div>
             <div class="ball last"></div>
         </div>
       </div>
     </div>
    <div class="time-text">{{ formatTime(time()) }}</div>
  </div>
