@if (isLoading()) {
  <div class="loading-overlay">
    <div class="spinner"></div>
    <p>Carregando dados...</p>
  </div>
} @else {
  @if (viewMode() === 'table') {
    <div class="table-container">
      <table>        <thead>
          <tr>
            @for (col of columnDefs(); track col.field) {
              <th [style.width]="col.width">{{ col.header }}</th>
            }
          </tr>
        </thead>        <tbody>
          @for (item of data(); track item.id) {
            <tr (click)="onItemClicked(item)" class="table-row">
              @for (col of columnDefs(); track col.field) {
                <td>
                  {{
                    (item | getNestedProperty:col.field) | formatData:col.dataType:col.formatOptions
                  }}
                </td>
              }
              @if (actions().length > 0) {
                <div class="actions-overlay">
                  <div class="actions-container">
                    @for (action of actions(); track action.label) {
                      <kh-button
                        [type]="action.type || 'tertiary'"
                        [onlyIcon]="true"
                        [class.disabled]="isActionDisabled(action, item)"
                        (click)="onActionClick(action, item, $event)"
                      >
                        <i class="ti ti-{{ action.icon }}"></i>
                      </kh-button>
                    }
                  </div>
                </div>
              }
            </tr>
          } @empty {
            <tr>
              <td [attr.colspan]="columnDefs().length" class="empty-state">
                Nenhum dado encontrado.
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @else {    <div class="cards-container">
      @for (item of data(); track item.id) {
        <div (click)="onItemClicked(item)">
          <ng-container
            [ngTemplateOutlet]="cardTemplate()!"
            [ngTemplateOutletContext]="{ $implicit: item }">
          </ng-container>
        </div>
      }
      @empty {
        <div class="empty-state">
          Nenhum dado encontrado.
        </div>
      }
    </div>
  }
}
