<div class="flex h-screen m-0 p-2">
    <!-- Lado esquerdo -->
    <div class="w-6 flex flex-column align-items-center justify-content-between p-5 "
        [style.backgroundColor]="'var(--p-zinc-950)'" [style.color]="'var(--p-zinc-50)'" [style.borderRadius]="'0.5rem'">
        <div class="flex align-items-center gap-2" [style.color]="'var(--p-accent-color)'" >
            <h2 class="m-0 emoji">🐝</h2><h2>KnowHive</h2>
        </div>
        <p class="text-center text-sm">
            “Nenhum de nós é tão inteligente quanto todos nós juntos.”
            <br><span class="text-xs">Ray Kroc - Ken Blanchard - Warren Bennis</span>
        </p>
    </div>

    <!-- Lado direito -->
    <div class="w-6 flex align-items-center justify-content-center">
        <ng-content></ng-content>
    </div>
</div>
