.card {
  // font-family: 'SF Pro Display', sans-serif;
  font-family: 'Geist', sans-serif;
  background-color: var(--p-surface-base);
  border: 1px solid var(--p-surface-secondary);
  border-radius: 0.75rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .25rem;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: translateY(-.2rem);
    box-shadow: var(--p-shadow-md);

    .card-actions {
      opacity: 1;
    }
  }

  &:active {
    transform: translateY(0);
    box-shadow: var(--p-shadow-sm);
  }

  &-header {
    h3{
      color: var(--p-text-accent);
      font-weight: 600;
    }
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
  }

  &-title {
    margin: 0;
    color: var(--p-text-color);
    font-weight: 500;
    font-size: 1.125rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
  }

  &-actions {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    flex-shrink: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    flex-grow: 1;
  }

  &-description {
    margin: 0;
    color: var(--p-text-color-secondary);
    font-size: 0.875rem;
    line-height: 1.5;
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--p-surface-border);
    padding-top: 1rem;
    margin-top: auto;
  }
}

.author-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.author-avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid var(--p-text-secondary);
}

.author-name {
  font-size: 0.875rem;
  color: var(--p-text-secondary);
}

.created-date {
  font-size: 0.75rem;
  color: var(--p-text-secondary);
}
