<div class="card">
  <div class="card-header">
    <h3 class="card-title">{{ item().title }}</h3>
    @if(canEdit() || canDelete() || canShare()) {
      <div class="card-actions">
        <kh-button
          size="small"
          type="danger-light"
          [onlyIcon]="true"
          [pTooltip]="'Excluir coleção'"
          tooltipPosition="top"
          class="delete-btn"
          [disabled]="!canDelete()"
          (click)="deleteCollection(item().id||null)">
          <i class="ti ti-trash"></i>
        </kh-button>

        <kh-button
          size="small"
          type="tertiary"
          [onlyIcon]="true"
          [pTooltip]="'Compartilhar coleção'"
          tooltipPosition="top"
          [disabled]="!canShare()"
          (click)="shareCollection(item().id || null)"
        >
          <i class="ti ti-share"></i>
        </kh-button>

        <kh-button
          size="small"
          type="tertiary"
          [onlyIcon]="true"
          [pTooltip]="'Editar coleção'"
          tooltipPosition="top"
          [disabled]="!canEdit()"
          (click)="editCollection(item().id || null)"
        >
          <i class="ti ti-edit"></i>
        </kh-button>
      </div>
      }
  </div>

  <div class="card-content">
    <p class="card-description">{{ item().description }}</p>
  </div>

  <div class="card-footer">
    <div class="author-info">
      <img [src]="item().author?.profile_picture" [alt]="item().author?.name" class="author-avatar" />
      <span class="author-name">{{ item().author?.name }}</span>
    </div>
    <span class="created-date">{{ item().created_at | date }}</span>
  </div>
</div>
