<div class="user-edit-container">
  <h3 class="user-edit-title">Editar usuário</h3>
  <div class="img-container">
    <img class="user-edit-image" [src]="user().profile_picture" alt="User Image" />
    <i class="cam-icon ti ti-camera-up btn" (click)="fileInput.click()"></i>
    <label>Escolha sua foto!</label>
  </div>
  <div class="user-edit-form" [formGroup]="userForm">
      <p-floatlabel variant="on" class="w-full">
        <input pInputText id="over_label" formControlName="name" class="w-full" autocomplete="off" />
        <label for="over_label">Nome</label>
      </p-floatlabel>
      <p-floatlabel variant="on" class="w-full">
        <input pInputText id="over_label" formControlName="email" class="w-full" autocomplete="off" />
        <label for="over_label">Email</label>
      </p-floatlabel>
      <kh-button [loading]="isSavingUser()" (click)="handleSave()" widthType="full">Salvar</kh-button>
  </div>

</div>

<input
  type="file"
  id="fileInput"
  accept="image/*"
  (change)="handleFileInput($event)"
  style="display: none;"
  #fileInput
/>
