<div class="home-container">
  <div>
    <h2>👋 Bem vindo de volta, {{user().name}}!! </h2>

  </div>
  <div class="card-grid">
    @for (item of listCards(); track $index) {
      <home-card-statistic [value]="item"/>
    }
  </div>

  <div class="items-grid">
    <div class="question-card-list">
      <div class="card-list-header">
        <h3 class="card-list-title">Perguntas recentes</h3>
        <div class="view-all-link">Ver todas</div>
      </div>
      @for (item of data()?.recent_questions; track $index) {
        <home-question-card [question]="item"/>
      }
    </div>
  <div class="question-card-list">
    @for (item of data()?.recent_questions; track $index) {
      <home-question-card [question]="item"/>
    }
  </div>
  </div>

</div>
