<div class="home-container">
  <div class="home-header">
    <h2>👋 Bem vindo de volta, {{user().name}}!! </h2>
    <label>Aqui está um resumo da sua atividade recente.</label>
  </div>
  <div class="card-grid">
    @for (item of listCards(); track $index) {
      <home-card-statistic [value]="item"/>
    }
  </div>

  <div class="items-grid">
    <div class="question-card-list">
      <div class="card-list-header">
        <h4 class="card-list-title">Perguntas recentes</h4>
        <kh-button
          size="small"
          type="tertiary"
          class="w-auto"
          (click)="navigateTo('/questions')"
        >
          Ver todas
        </kh-button>
      </div>
      @for (item of data()?.recent_questions; track $index) {
        <home-question-card [question]="item"/>
      }
    </div>
  <div class="question-card-list">
    @for (item of data()?.recent_questions; track $index) {
      <home-question-card [question]="item"/>
    }
  </div>
  </div>

</div>
