.ask-conteiner{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
  gap: 1rem;

  .btn-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }
}
