<div class="card">
  <div class="card-left">
    <!-- <img class="card-icon" [src]="question().profile_picture"  /> -->
    <div class="card-icon">
      <i [class]="icon()"></i>
    </div>
  </div>

  <div class="card-center">
    <span class="card-title">{{ question().title }}</span>
    <span class="card-statment">{{question().statment}}</span>
    <div class="card-tag-list">
      @for (item of question().tags; track $index) {
        <span class="tag-item">{{item}}</span>
      }
    </div>
  </div>

  <div class="card-right">
    <div class="card-like">
      <button-like
        [(liked)]="question().is_liked"
        (onLike)="likeQuestion(question().id ?? '')"
      />

    </div>
    <span class="card-date">{{date()}}</span>
  </div>
</div>
