<div class="page">
    <div class="menu" [class.expand]="isExpanded()" [class.collapse]="!isExpanded()">
        <div class="menu-header">
            <h3 class="emoji cursor-pointer" (click)="redirectTo('home')" >{{titlePage()}}</h3>
        </div>

        <div class="menu-body">
          @for (item of menuItems(); track $index) {
            <div class="menu-item" [class.active]="item.active" (click)="redirectTo(item.url)">
              <i [class]="item.icon"></i>
              <span class="menu-item-text">{{item.label}}</span>
            </div>
          }
        </div>

        <div class="menu-footer">
            <button-color />
            <button-demo />
        </div>
    </div>
    <div class="content">
        <div class="content-header">
            <div class="toggle-button" (click)="isExpanded.set(!isExpanded())">
                <i [class]="isExpanded() ? 'ti ti-layout-sidebar-left-collapse' : 'ti ti-layout-sidebar-right-collapse'"></i>
            </div>
            <div class="space-horizon"></div>
            <user-icon/>
        </div>
        <ng-content></ng-content>
    </div>
</div>
